<header class="flex items-center justify-between bg-blue-700 border border-white p-4 ">
  <div class="w-16 h-8 mx-4 pl-2">
    <%= image_tag('logo.png', alt: 'Logo', class: 'h-full w-auto') %>
  </div>

  <div class="">
    <h1 class="text-7xl font-bold text-white">Portafolio</h1>
  </div>

  <div class="mx-4 ">
    <ul class="flex list-none text-white">
      <li class="mx-2">
        <%= link_to 'Inicio', home_index_path %>
      </li>
      <li class="mx-2">
        <%= link_to 'Proyectos', home_proyect_path %>
      </li>
      <li class="mx-2">
        <%= link_to 'Educacion', home_education_path %>
      </li>
      <li class="mx-2">
        <%= link_to 'Contacto', home_contact_path %>
      </li>
      <li class="mx-2">
        <%= link_to 'Aptitudes', home_aptitudes_path %>
      </li>
    </ul>
  </div>
</header>
