<header class="bg-blue-700">
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 my-2 container mx-auto py-5">
    <div class="w-8">
      <%= image_tag('logo.png', alt: 'Logo') %>
    </div>
    <div class="text-4xl font-bold text-white">
      <h1>Portafolio</h1>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-5 gap-3 sm:gap-1 text-center text-white">
      <button class="bg-cyan-500 shadow-lg shadow-cyan-500/50 rounded mx-10 sm:mx-1">
        <%= link_to 'Inicio', home_index_path %>
      </button>
      <button class="bg-cyan-500 shadow-lg shadow-cyan-500/50 rounded mx-10 sm:mx-1">
        <%= link_to 'Proyectos', home_proyect_path %>
      </button>
      <button class="bg-cyan-500 shadow-lg shadow-cyan-500/50 rounded mx-10 sm:mx-1">
        <%= link_to 'Educacion', home_education_path %>
      </button>
      <button class="bg-cyan-500 shadow-lg shadow-cyan-500/50 rounded mx-10 sm:mx-1">
        <%= link_to 'Contacto', home_contact_path %>
      </button>
      <button class="bg-cyan-500 shadow-lg shadow-cyan-500/50 rounded mx-10 sm:mx-1">
        <%= link_to 'Aptitudes', home_aptitudes_path %>
      </button>
    </div>
  </div>
</header>
