<div class="grid grid-cols-1 sm:grid-cols-2 gap-5 sm:gap-20 container mx-auto px-5 sm:px-0 py-5 sm:py-10 text-white">
  <div class="grid grid-rows-7 gap-10 text-xl">
    <div class="border-b-2 shadow-lg shadow-cyan-500/50">
      <%= image_tag('lenguajes_de_programacion.png', alt: 'LENGUAJES DE PROGRAMACIÓN', width: 20, height: 20).concat("LENGUAJES DE PROGRAMACIÓN:") %>
      <p class="mx-10 text-amber-500">( Ruby, HTML y CSS )</p>
    </div>
    <div class="border-b-2 shadow-lg shadow-cyan-500/50">
      <%= image_tag('framework.png', alt: 'FRAMEWORK', width: 20, height: 20).concat("FRAMEWORK:") %>
      <p class="mx-10 text-amber-500">( Ruby on Rails, tailwindCss )</p>
    </div>
    <div class="border-b-2 shadow-lg shadow-cyan-500/50">
      <%= image_tag('bases_de_datos.png', alt: 'BASES DE DATOS', width: 20, height: 20).concat("BASES DE DATOS:") %>
      <p class="mx-10 text-amber-500">( Redis, PostgreSQL )</p>
    </div>
    <div class="border-b-2 shadow-lg shadow-cyan-500/50">
      <%= image_tag('herramientas.png', alt: 'HERRAMIENTAS', width: 20, height: 20).concat("HERRAMIENTAS:") %>
      <p class="mx-10 text-amber-500">( Git, GitHub, Docker y DockerHub )</p>
    </div>
    <div class="border-b-2 shadow-lg shadow-cyan-500/50">
      <%= image_tag('seguridad-informatica.png', alt: 'SEGURIDAD INFORMÁTICA', width: 20, height: 20).concat("SEGURIDAD INFORMÁTICA:") %>
      <p class="mx-10 text-amber-500">( Identificación de amenazas y Mitigación de riesgos )</p>
    </div>
    <div class="border-b-2 shadow-lg shadow-cyan-500/50">
      <%= image_tag('metodologias.png', alt: 'METODOLOGÍAS', width: 20, height: 20).concat("METODOLOGÍAS:") %>
      <p class="mx-10 text-amber-500">( Desarrollo Ágil )</p>
    </div>
    <div class="border-b-2 shadow-lg shadow-cyan-500/50">
      <%= image_tag('habilidades_personales.png', alt: 'HABILIDADES PERSONALES', width: 20, height: 20).concat("HABILIDADES PERSONALES:") %>
      <p class="mx-10 text-amber-500">( Resolución de Problemas y Aprendizaje Rápido )</p>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-5 sm:gap-10 justify-items-center container mx-auto shadow-lg shadow-cyan-500/50">
    <div>
      <div class="flex ml-auto py-2">
        <%= image_tag('ruby.png', alt: 'ruby', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('html.png', alt: 'html', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('css.png', alt: 'css', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('rails.png', alt: 'rails', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('tailwindCSS.png', alt: 'tailwindCSS', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('redis.png', alt: 'redis', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('postgresql.png', alt: 'postgresql', class: 'size-24') %>
      </div>
    </div>
    <div>
      <div class="flex ml-auto py-2">
        <%= image_tag('git.png', alt: 'git', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('github_logo.png', alt: 'github_logo', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('docker.png', alt: 'docker', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('mitigacion_riesgos.png', alt: 'mitigacion_riesgos', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('agiles.png', alt: 'agiles', class: 'size-24') %>
      </div>
      <div class="flex ml-auto py-2">
        <%= image_tag('resolucion-de-problemas.png', alt: 'resolucion-de-problemas', class: 'size-24') %>
      </div>
    </div>
  </div>
</div>
