<div class="grid grid-cols-1 sm:grid-cols-3 gap-6 container mx-auto py-5 sm:py-10">
<div class="col-span-1 sm:col-span-3 px-12 sm:px-0">
  <h1 class="text-white text-center text-2xl font-extrabold">¡Bienvenido a mi espacio de proyectos!</h1><br>

  <p class="text-white py-5 shadow-lg shadow-cyan-500/50 rounded-lg font-extrabold">
    ¡Hola! Te doy la bienvenida a mi área de proyectos, donde podrás explorar algunos de mis primeros trabajos desarrollados con Rails.<br>
    Aunque aún estoy en las etapas iniciales de mi carrera como desarrollador, cada proyecto aquí representa un paso importante en mi aprendizaje y
    crecimiento en el mundo del desarrollo web. Estoy emocionado de compartirlos contigo y espero que encuentres algo que llame tu atención.
    Por favor, siéntete libre de explorar cada proyecto y, si tienes alguna pregunta, sugerencia o simplemente quieres charlar sobre desarrollo web,
    estaré encantado de escucharte. Puedes ponerte en contacto conmigo mediante el formulario de contacto que encontraras en el boton <span class="text-orange-400">"Contacto"</span>.<br>
    ¡Espero que disfrutes navegando por mis proyectos tanto como yo disfruté creándolos!<br>
    ¡Gracias por visitar y espero tener noticias tuyas pronto!
  </p>
</div>
<div class="text-center container px-12 py-10 mx-auto rounded-lg shadow-lg shadow-cyan-500/50 text-white">
  <h2 class="py-5 text-black font-extrabold">
    Portafolio Personal<br>
    Rails
  </h2>
  <div class="transition scale-100 hover:scale-150 duration-300">
    <%= link_to image_tag('portafolioPersonal.png', alt: 'portafolioPersonal'),
                "http://localhost:3000/", target: "_blank", class: "flex"%>
  </div>
  <h3 class="py-5">
    Creado el: 11/2023
  </h3>
  <p class="text-left py-5">
    Mi portafolio personal es un proyecto desarrollado en Ruby on Rails que muestra mi trabajo, experiencia y habilidades en el desarrollo de software. Es una plataforma interactiva donde puedo presentar mis proyectos y establecer contacto con posibles empleadores y colaboradores. Este proyecto demuestra mi capacidad para planificar, diseñar y ejecutar aplicaciones web de manera efectiva y profesional.
  </p>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 container py-2 text-white">
    <div class="size-20">
      <div class="transition scale-100 hover:scale-150 duration-300">
        <%= link_to image_tag('github_logo.png', alt: 'GitHub'),
                    "https://github.com/Totenkopf1995/portafolio_rails.git", target: "_blank", class: "flex"%>
      </div>
    </div>
    <div class="text-left">
      <lu>
        <li>Ruby on Rails</li>
        <li>TailwindCss</li>
      </lu>
    </div>
  </div>
</div>
<div class="bg-white text-center container px-12 py-10 mx-auto rounded-lg shadow-lg shadow-cyan-500/50">
  <h2 class="py-5 text-black font-extrabold">
    Chat en Tiempo Real con Gestión de Salas
  </h2>
  <div class="transition scale-100 hover:scale-150 duration-300">
    <%= link_to image_tag('chat-app.png', alt: 'portafolioPersonal'),
                "https://github.com/Totenkopf1995/portafolio_rails.git", target: "_blank", class: "flex"%>
  </div>
  <h3 class="py-5">
    Creado el: 01/2024
  </h3>
  <p class="text-left py-5">
    Este proyecto es una aplicación de chat en tiempo real desarrollada con Ruby on Rails, que permite a los usuarios comunicarse instantáneamente en diferentes salas de chat.<br>

    <div class="text-left">
      <lu>
        <li>Inicio de Sesión y Registro de Usuarios</li>
        <li>Creación y Gestión de Salas</li>
        <li>Mensajería en Tiempo Real</li>
        <li>Perfil de Usuario</li>
      </lu>
    </div>
    <br>
    Este proyecto combina funcionalidad de chat en tiempo real con características de gestión de salas para proporcionar una experiencia de comunicación fluida y personalizable para los usuarios.
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 container py-2">
    <div class="size-20">
      <div class="transition scale-100 hover:scale-150 duration-300">
        <%= link_to image_tag('github_logo.png', alt: 'GitHub'),
                    "https://github.com/Totenkopf1995/ruby-on-rails_primer_proyecto_chat.git", target: "_blank", class: "flex"%>
      </div>
    </div>
    <div class="text-left">
      <lu>
        <li>Ruby on Rails</li>
        <li>TailwindCss</li>
        <li>Hotwire</li>
        <li>Devise</li>
      </lu>
    </div>
  </div>
</div>
<div class="text-center container px-12 py-10 mx-auto rounded-lg shadow-lg shadow-cyan-500/50 text-white">
  <h2 class="py-5 text-black font-extrabold">
    Portafolio Personal<br>
    Rails
  </h2>
  <div class="transition scale-100 hover:scale-150 duration-300">
    <%= link_to image_tag('portafolioPersonal.png', alt: 'portafolioPersonal'),
                "https://github.com/Totenkopf1995/portafolio_rails.git", target: "_blank", class: "flex"%>
  </div>
  <h3 class="py-5">
    Creado el: 01/2024
  </h3>
  <p class="text-left py-5">
    Mi portafolio personal es un proyecto desarrollado en Ruby on Rails que muestra mi trabajo, experiencia y habilidades en el desarrollo de software. Es una plataforma interactiva donde puedo presentar mis proyectos y establecer contacto con posibles empleadores y colaboradores. Este proyecto demuestra mi capacidad para planificar, diseñar y ejecutar aplicaciones web de manera efectiva y profesional.
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 container py-2 text-white">
    <div class="size-20">
      <div class="transition scale-100 hover:scale-150 duration-300">
        <%= link_to image_tag('github_logo.png', alt: 'GitHub'),
                    "https://github.com/Totenkopf1995/portafolio_rails.git", target: "_blank", class: "flex"%>
      </div>
    </div>
    <div class="text-left">
      <lu>
        <li>Ruby on Rails</li>
        <li>TailwindCss</li>
        <li>Hotwaire</li>
      </lu>
    </div>
  </div>
</div>
</div>
