<!DOCTYPE html>
<html>
  <head>
    <title>Portafolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gradient-to-r from-blue-700 to-cyan-700 flex flex-col min-h-screen">
    <header class="bg-gradient-to-r from-cyan-700 to-blue-700 shadow-lg shadow-cyan-500/50">
      <%= render 'shared/header' %>
    </header>
    <main class="flex-grow">
      <div id="notification" class="text-yellow-400 px-4 py-2 mb-4 text-center text-2xl font-extrabold">
        <% flash.each do |key, value| %>
          <%= value %>
        <% end %>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                setTimeout(function() {
                    var notification = document.getElementById('notification');
                    if (notification) {
                        notification.remove();
                    }
                }, 5000);
            });
        </script>
      </div>
      <%= yield %>
    </main>
    <footer class="bg-gradient-to-r from-cyan-700 to-blue-700">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
