<!DOCTYPE html>
<html>
  <head>
    <title>Portafolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <% flash.each do |key, value| %>
    <div class="fixed top-0 left-1/2 transform -translate-x-1/2 bg-green-500 text-white px-10 py-5 rounded-md mt-20 text-lg font-extrabold">
      <%= value %>
    </div>
    <% end %>

  <%= yield %>
  </body>
</html>
